#app-wrapper {
  width: 98vw;
  margin: auto;
}
.center-vh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.v-table.v-table--striped-odd > .v-table__wrapper > table > tbody > tr:nth-child(odd) {
  background-color: rgba(var(--v-theme-primary), 0.14);
}